<?xml version="1.0"?>
<launch>
    <!-- uwsim Dolphin Node -->
    <include file="$(find uwsim_dynamics)/launch/uwsim_dolphin_dynamics.launch"/>
    <!--uwsim sensor Node -->
    <include file="$(find uwsim_sensor)/launch/uwsim_sensor.launch"/>
    <!-- -->
    <node pkg="uwsim_sitl" type="uwsim_sitl" name="uwsim_mavlink" output="screen"/>
</launch>